/***********Destop options*****************/
	/******header***********/
	header{
	text-align:left;
	}
	/******navigation******/
	[id^="nav"]{
		float:left;
		background:#0F7358;
		padding:0.1em 0 0.1em 0;
		width:20%;
		height:auto;
		font-size:0.8em;
	}
	[id^="nav"] img{
		width:2.5em;
		height:auto;
		display:block;
		margin:0 auto;
	}
	#container_nav{
		text-align:center;
	}
	/*******aside******/
	aside{
		width:20%;
		height:100%;
	}
	section, aside{
		display:inline-block;
	}
	/********section******/
	section{
		width:70%;
		height:100%;
	}
/*******************************************/