/**********Fot tablet devices**************/
/*********header********/	
	header{
	text-align:left;
	}
/******navigation********/

	[id^="nav"]{
		float:left;
		background:#0F7358;
		padding:0.1em 0 0.1em 0;
		width:20%;
		height:auto;
		font-size:0.8em;
	}
	[id^="nav"] img{
		width:2.5em;
		height:auto;
		display:block;
		margin:0 auto;
	}
	#container_nav{
		text-align:center;
	}
	aside{
		display:none;
	}
/**********************************************/